/* Importing Google font - Inter */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
} */


/* HERO SECTION CSS */
.body-login {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.h1-body-type {
    color: #000000;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.h1-body-type span {
    color: #BD53ED;
    position: relative;
}

.h1-body-type span::before {
    content: "";
    height: 30px;
    width: 2px;
    position: absolute;
    top: 50%;
    right: -8px;
    background: #BD53ED;
    transform: translateY(-45%);
    animation: blink 0.7s infinite;
}

.h1-body-type span.stop-blinking::before {
    animation: none;
}

@keyframes blink {
    50% {
        opacity: 0
    }
}

#hero {
    display: flex;
    height: 100vh;
    padding: 0 80px;
    background-color: #d9dcea;
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    z-index: 1;

}

/* #hero h4 {
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 500;
} */

#hero h2 {
    font-size: 50px;
    font-weight: lighter;
}

#hero h1 {
    font-size: 50px;
    color: #088178;
    font-weight: 50;
    /* padding-top: 20px ; */
}

#hero p {
    font-size: 20px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-container img {
    width: 80%;
    /* height: 90vh; */
    max-width: 100%;
    max-height: 100%;
}

#hero button {
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}


/* FEATURES SECTION  */
/* reset styles */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
    overflow-x: hidden;
} */

/* :root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
    --box-shadow-color: var(--accent-color);
} */

/* ScrollBar CSS */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(to top, #2294ed, #1d69a3);
}


::selection {
    background: #2294ed;
    color: #fff;
}


/* Utility classes */

.container-feature {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: 20px;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


.secondary-button {
    border: 0.5px solid #577592;
    border-radius: 6px;
    font-weight: 700;
    color: #183b56 !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover {
    border-color: #2294ed;
    color: #2294ed !important;
}

.underline1-b {
    position: relative;
}

.underline1-b:before {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 10%;
    width: 80%;
    border-bottom: 1px solid #219ebc;
}

/* Our Products Section section */

.features-section {
    padding: 20px 20px 0;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 70px;
}

.features-header {
    text-align: center;
    margin-bottom: 40px;
}

.features-heading-text {
    margin-bottom: 10px;
    color: #219ebc;
    font-size: 3rem;
    font-weight: 500;
}

.features-area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.features-card {
    height: 250px;
    flex-direction: column;
    width: 30%;
    text-align: center;
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-out;
}

.features-card h3{
    padding: 10px;
}

.features-card:hover{
	transform: translate(0px,-5px);
	box-shadow: 0 0 100px rgba(51, 175, 224, 0.4);
	transition: all ease-in 0.3s;
}

.features-card a {
    color: rgb(0, 99, 228);
    text-decoration: none;
    /* margin-top: 1em; */
    display: inline-block;
    padding: .5em;
    margin-left: -.5em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.features-card a:before,
.features-card a:after {
    position: absolute;
    content: '';
    border-bottom: 3px solid rgb(0, 99, 228);
    border-radius: 1em;
    bottom: .3em;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.features-card a:after {
    width: 82%;
    left: 1em;
    transform: translateX(110%);
}

.features-card a:hover:before {
    transform: scaleX(0.3);
}

.features-card a:hover:after {
    transform: translateX(0);
}

.features-card img {
    width: 60px;
}

#sc-img {
    width: 90px;
}