.section-p1 {
    padding: 40px 80px;
}

.body-about{
    padding-top: 90px;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head div {
    padding: 40px;
    color: black;
}

#develop {
    text-align: center;
    margin: 30px;
}

#develop .dev-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#develop .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 7px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 5px 0;
    transition: 0.2s ease;
    position: relative;
}

#develop .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#develop .pro img {
    width: 100%;
    border-radius: 20px;
}

#develop .pro .des {
    text-align: start;
    padding: 10px 0;
}

#develop .pro .des span {
    color: #606063;
    font-size: 30px;
}

#develop .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#develop .pro .des h4 {
    padding: 2px 0px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

.des a{
    text-decoration: none;
    color: black;
    /* display: flex; */
    padding-left: 90px;
    justify-content: space-between;
}